
*.kdev4
kdev4/

*.cproj
*.dproj


.clang
/dist/lib
*/Build
*/Project
/Fuji/Middleware/*/obj
/dist/Samples/*/Build
/dist/Samples/ipch
/dist/Samples/*/*_Debug
/dist/Samples/*/*_DebugOpt
/dist/Samples/*/*_Release
/dist/Samples/*/*_Retail
/dist/Samples/*/*-debug
/dist/Samples/*/*-debugopt
/dist/Samples/*/*-release
/dist/Samples/*/*-retail

*.sln
*.sdf
*.suo
*.vcproj
*.vcxproj
*.visualdproj
*.filters
*.opendb

*.cproj
*.pc
*.userprefs

*.obj
*.idb
*.ilk
*.pdb
*.user
Makefile
*.make
*.mk
*.o
*.workspace*
*.tags
/Fuji/Doc/html
*.chw

.fuse_*
