.clang
/dist/lib
*/Build
*/Project
/Fuji/Middleware/*/obj
/dist/Samples/*/Build
/dist/Samples/ipch
*.sln
*.sdf
*.suo
*.vcproj
*.vcxproj
*.obj
*.idb
*.ilk
*.pdb
*.user
Makefile
*.make
*.mk
*.o
*.workspace*
*.userprefs
*.tags
/Fuji/Doc/html
*.chw
