/fuji.kdev4
.clang
/dist/lib
*/Build
*/Project
/Fuji/Middleware/*/obj
/dist/Samples/*/Build
/dist/Samples/ipch
/dist/Samples/*/*_Debug
/dist/Samples/*/*_DebugOpt
/dist/Samples/*/*_Release
/dist/Samples/*/*_Retail
*.sln
*.sdf
*.suo
*.vcproj
*.vcxproj

*.cproj
*.pc
*.userprefs

*.obj
*.idb
*.ilk
*.pdb
*.user
Makefile
*.make
*.mk
*.o
*.workspace*
*.tags
/Fuji/Doc/html
*.chw
